<!DOCTYPE html>
@{
    ViewData["Title"] = "書籍系所分類";
}
@model List<yorkshin.ViewModels.ClassifyViewModel>
<body>
<br/><br/>
<style>
     /* ... 其他樣式 ... */
        .form-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
             margin-top: 60px; /* 調整上邊距 */
        }
        .form-container form {
            margin: 5px;
        }
        h2.ClassifyTitle {
            font-size: 30px;
            text-align: center;
            color: white;
            font-weight: bold;
        }
        h3 {
            
            position: absolute;
            font-size: 26px;
            text-align: center; /* 將文字置中 */
            color: black;
            font-weight: bold;
            top: 28px;
            width: 100%; /* 使 h2 的寬度 100%，讓文字置中 */
        }
        body {
            background-image: url('/Images/Background.png');
            background-position: center;
            height: 100px;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-bottom: 20px; /* 調整底邊距 */
        }
        .white-rectangle {
            width: 1000px;
            height: 500px; 
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius: 10px; 
             padding-top: 20px; /* 調整上邊距 */
            
        }
        .back {
            width: 150px;
            height: 50px;
            border-radius: 24px;
            font-size: 0.8rem;
            letter-spacing: 2px;
            cursor: pointer;
            font-weight: bold;
            background: rgba(0,0,0,0.8);
            color: rgba(255,255,255,0.9);
            border: 1px solid rgba(0, 0, 0, 0.6);
            transition: all .3s ease;
            /*margin-right: 30px*/
        }
        .back:hover{
            transform: scale(1.125);
            color: rgba(255, 255, 255, 0.9);
            border-color: rgba(255, 255, 255, 0.9);
            transition: all .3s ease;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .newButton{
            width: 100px;
            height: 45px;
            background-color: white;
            font-size: 16px;
            font-weight: bold;
            margin-left: 15px;
            border: none;
            border-radius: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
        .newButton:hover{
            transform: scale(1.1);
            transition: all .2s ease;
        }
    </style>
<br/><br/><br/>
<div class="container">
    <h2 class="ClassifyTitle">查 詢 書 籍 分 類</h2>
</div>

<br/>
<div class="container">
    <div class="justify-content-center"><h3>書 籍 狀 況</h3></div>
    <br/>
    <br/>
    <div class="white-rectangle row align-items-end justify-content-center pb-3">
        
        <div class="form-container">
            @foreach (var classify in Model)
            {
                <form asp-action="LandingPage" asp-controller="Home" method="get">
                    <input type="hidden" name="searchWords" value="@classify.Secondary" />
                    <button type="submit" class="newButton mb-3">@classify.Secondary</button>
                </form>
            }
        </div>
        <button class="back">回 上 頁</button>
    </div>
</div>
<script>
        $(document).ready(function () {
            $(".back").on("click", function () {
                window.history.back();
            });
        });
    </script>
</body>