html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
  box-shadow: none;
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝Layout＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*-----------------------Banner-----------------------*/
.banner {
  width: 100%;
  height: 350px;
  background-image: url('../Images/banner-bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.banner h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 18px;
}

.banner p {
  font-size: 1.2em;
  color: #ccc; /* 灰色文字 */
}

/*-----------------------breadcrumb-----------------------*/
#breadcrumbText{
  color: #9F9F9F;
  font-weight: 200;
  
}
#breadcrumbText a{
  text-decoration: none;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝LandingPage＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*-----------------------LandingPage-BG-----------------------*/
.LandingWrapper{
  background-image: url("./Images/LadingPageBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 讓 body 元素占滿整個視窗高度 */
  margin: 0; /* 清除 body 元素的 margin */
}
.LandingPageBody{
  height: 100vh; /* 設置父元素高度為整個視窗高度 */
}
.LandingPageContent {
  position: absolute;
  top: 45vh; /* 距離父元素頂部的距離 */
  left: 50%; /* 距離父元素左邊的距離，這裡設置為水平置中 */
  transform: translate(-50%, -50%); /* 將元素自身的50%寬度和高度向左上方移動，實現水平和垂直置中 */
  text-align: center; /* 如果內容需要水平置中，也可以設置text-align屬性 */
}
.LandingPageSlogan{
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.search {
  width: 560px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
}
.LandingPageSearch .search-input {
  padding: 0 10px;
  width: 85%;
  height: 40px;
  caret-color: #536bf6;
  font-size: 12px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}
.search-icon {
  height: 28px;
  width: 28px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111111;
  /*background-color: #536bf6;*/
  font-size: 20px;
  right: 60px;
  top: 5px;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
}

.search-icon:hover{
  color: #536bf6 !important;
}