
@{
    ViewBag.Title = "title";
    Layout = "_AsiLayout";
}

<h2>title</h2>
<div class="card-wrapper">
    <div class="card-container">
        <div class="card-content">
            <div class="card-left">
                <div class="card-account">txxx1</div>
                <div class="card-Info">
                    <div class="card-name">Marketing Management</div>
                    <div class="card-author">作者 Philip Kotler,Kevin Lane Keller,Dr Philip Kotler,Kevin Lane Keller, (Author)</div>
                </div>
                <div class="card-price">NT＄599</div>
                <div class="card-btns">
                    <div class="btn-y">
                        <button type="button" class="btn btn-outline-danger" disabled>已售出</button>
                    </div>
                </div>
            </div>
            <div class="card-right">
                <div class="card-img">
                    <img src="./img/core-img/product-img.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
