/*card area*/
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-wrapper .card-container {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border: #000000 1px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直置中 */
    align-items: center; /* 水平置中 */
    border-radius: 5px;
}

.card-wrapper .card-content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.card-wrapper .card-container .card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.card-wrapper .card-container .card-right .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding-bottom: 100%;
    background-color: #eaeaea;
    position: relative;
}

.card-wrapper .card-container .card-right .card-img img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card-wrapper .card-container .card-account {
    font-size: 1.2em; /* 使用相對單位，比例可根據需要調整 */
    font-weight: bold;
}

.card-wrapper .card-container .card-Info .card-name {
    font-size: 1.3em;
    font-weight: bolder;
}

.card-wrapper .card-container .card-Info .card-author {
    font-size: 1em;
    color: #7c7c7c;
}

.card-wrapper .card-container .card-price {
    font-size: 1.5em;
    font-weight: 900;
    color: #0000FF;
}

.card-wrapper .card-container .card-btns {
    display: flex;
    flex-direction: row;
}

.card-wrapper .card-container .card-btns .btn-y {
    margin: 10px;
    margin-left: 0;
}

.card-wrapper .card-container .card-btns .btn-n {
    margin: 10px;
}

.card-wrapper .card-container .card-btns .btn-n .btn {
    color: #000000;
    border: #000000 1px solid;
}

/* 響應式設計 */
@media screen and (max-width: 600px) {
    .card-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .card-wrapper .card-container {
        width: 100%;
        margin: 10px 0;
    }

    .card-wrapper .card-content {
        flex-direction: column;
    }

    .card-wrapper .card-container .card-right {
        width: 100%;
        margin-top: 10px;
    }
}



.btn:focus {
    box-shadow: none;
    outline: none !important;
}




a {
    text-decoration: none;
}

.file-btn:hover .clicked-label {
    cursor: pointer;
}

.clicked-label {
    background-color: white;
    border: none;
    color: #1D4ED8;
}

.file-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 106px;
    color: #1D4ED8;
    background: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.star-rating {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:32px;
    font-size:1.25em;
    border-color: #F24E1E;
    color: #F24E1E;
}

.star-rating .fa-star{color: #F24E1E;}
#comment_header{
    color: black;
    font-weight: bolder;
}



/* img */
#upload {
    opacity: 0;
}

#upload-label {
    /* position: absolute; */
    /* top: 50%; */
    font-size: 35px;
    /* left: 1rem; */
    /* transform: translateY(-50%); */
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    margin-top: 2px;
    position: relative;
}
/* img */
.fa-picture-o{
    font-size:30px;
    color:#1D4ED8 ;

}
#imageResult{
    width:max-content;
}
.image-upload{
    width: 200px;
    align-items: center;
}
