@* @model TModel *@

@{
    ViewBag.Title = "title";
    Layout = "_BsiLayout";
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<div class="login-form">
    <div>
        <div class="login-title">Login</div>
        <div class="login-input-group">
            <label class="form-label">帳號</label>
            <input type="text" name="Account" class="login-input" placeholder="請輸入帳號..." required>
        </div>
        
        <div class="login-input-group">
            <label class="form-label">密碼</label>
            <input type="password" name="Pwd" class="login-input" placeholder="請輸入密碼..." required>
        </div>
        <div style="margin:0 auto 60px;width: 157px;height: 46px;">
            <button type="submit" class="login-btn" >登入</button>
        </div>
        @* <div class="alert alert-success d-flex align-items-center justify-content-center" style="margin: 5px 100px 20px 100px" role="alert"> *@
        @*   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"> *@
        @*     <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/> *@
        @*   </svg> *@
        @*   <div> *@
        @*     登入成功 *@
        @*   </div> *@
        @* </div> *@
        <div id="messageBox"> 
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> 
          <div>
            登入失敗，請重新確認帳號密碼
          </div>
        </div>
    </div>
</div>

<style>
body {
    background-image: url('/Images/loginPage.png');
    background-position: center;
    background-size: 80%;
}
input {
  all: unset;
}
.login-form {
    background-color: rgba(255,255,255,0.64);
    position: relative;
    width: 70%;
    height: 618px;
    margin: 0 auto;
    padding-top: 100px;
    margin-top: 150px;
}
.login-form-content{
    margin: 100px 0;
}
.login-input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
}
.login-input-area {
    color: #FFFFFF;
}

.form-label{
    font-size: 16px;
    font-weight: 500;
}

.login-btn {
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: all .3s ease;
}
.login-btn:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
}

.login-title {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-align: center;
}
.login-input-group {
    margin:0 auto 60px;
    width: 70%;
    height: 46px;
    font-size: 18px;
    font-weight: bolder;
}

#messageBox {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F8D7DA;
    color: #842029;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 300px;
}
</style>
<script src='@Url.Content("~/Scripts/UserModule.js")'></script>